<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="https://static.maxmilhas.com.br/img/apple-touch-icon.png">
    <meta charset="utf-8" />
    <title>Maxmilhas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="col-10 align-center">
        <form id="cepForm" action="{{ url_for('consulta_cep') }}" method="post">
            <h2>API de Consulta dos Correios</h2>
            <h3>Insira o CEP Desejado:</h3>
            <input name="cep" value="CEP" maxlength="8" >
        <button type="submit">Pesquisar</button>
    </form>
    </div>
    <div>
       
    </div>
</body>
</html>